#!/bin/bash

## gen
alias exa="eza"
alias l="less"
alias c="clear"
alias nv="nvim"
alias gnu="ping gnu.org"
alias mnt="sudo mount"
alias umnt="sudo umount"
alias src="source $DOTFILES_PATH/.rc"
alias mergep="gs -dNOPAUSE -sDEVICE=pdfwrite -sOUTPUTFILE=merged.pdf -dBATCH"

# sys
alias s="sudo"
alias rb="sudo reboot"
alias pw="sudo poweroff"
   
## git
alias g="git"
alias gcl="git clone"
alias gi='git init'
alias ga="git add"
alias gc="git commit"
alias gr="git restore"
alias gch="git checkout"
alias gst="git stash"
alias gsp="git stash pop"
alias gps="git push"
alias gpl="git pull"
alias gm="git merge"
alias gb="git branch"
alias gd="git diff"
alias grb="git rebase"
alias gf="git fetch"
alias gl="git log"
alias gt="git tag"
alias gsa="git status"
alias grm="git rm"
alias gt="git tag"
alias gg="ga -A && gc -a && gps"
