# aliases

## gen
alias ll="ls -alF --color=auto"
alias la='ls -A'
alias ls="ls --color=auto"
alias l='ls -CF'
alias fck='thefuck'
alias copy='wl-copy'
alias nv="nvim"
alias rb="sudo reboot"
alias pw="sudo poweroff"
alias adb-change="adb kill-server && sudo adb start-server"

# sys
alias pc="sudo pacman"
alias suspend="loginctl suspend"
alias docker="sudo docker"
alias eww="eww -c $EWW"
   
## ssh
alias addauth="ssh-add /home/hiroo/.ssh/auth"
alias addgit="ssh-add /home/hiroo/.ssh/githubSsh"

## wifi
alias wifi="bash /home/hiroo/Scripts/wificonnect"
alias wifiqim="bash /home/hiroo/Scripts/wificonnect qim"
alias wifiiut="bash /home/hiroo/Scripts/wificonnect iut"
alias wifi4g="bash /home/hiroo/Scripts/wificonnect 4g"
alias wifisam="bash /home/hiroo/Scripts/wificonnect sam"

## git
alias g="git"
alias gcl="git clone"
alias gi='git init'
alias ga="git add"
alias gc="git commit"
alias gr="git restore"
alias gch="git checkout"
alias gst="git stash"
alias gsp="git stash pop"
alias gps="git push"
alias gpl="git pull"
alias gm="git merge"
alias gb="git branch"
alias gd="git diff"
alias grb="git rebase"
alias gf="git fetch"
alias gl="git log"
alias gt="git tag"
alias gsa="git status"
alias grm="git rm"

## ssh
alias raspissh='ssh -p 34000 ubuntu@hugogolliet.fr'
alias raspisftp='sftp -P 34000 ubuntu@hugogolliet.fr'
alias fixssh='ssh -p 3400 hiroo@192.168.1.37'
alias fixsftp='sftp -P 3400 hiroo@192.168.1.37'

