#!/bin/bash

export ALIASES_PATH="$DOTFILES_PATH/aliases"

## gen
alias ll="exa -l"
alias la="exa -a"
alias ls="exa"
alias cat="bat"
alias cd="z"
alias exat="exa --tree"
alias exal="exa -l"
alias exaa="exa -a"
alias l="less"
alias c="clear"
alias gp="grep"
alias nv="nvim"
alias fck="thefuck"
alias wcp="wl-copy"
alias wpa="wl-paste"
alias me="whoami"
alias gnu="ping gnu.org"
alias mnt="sudo mount"
alias umnt="sudo umount"
alias src="source ~/.zshrc"
alias nvr="nv ~/$DOTFILES_PATH/.rc"
alias adbc="sudo adb kill-server && sudo adb start-server"
alias cam="mpv av://v4l2:/dev/video0 --profile=low-latency --untimed"
alias sc="screen -dmS"
alias scr="screen"
alias mergep="gs -dNOPAUSE -sDEVICE=pdfwrite -sOUTPUTFILE=merged.pdf -dBATCH"

# sys
alias s="sudo"
alias pc="sudo pacman"
alias suspend="loginctl suspend"
alias rb="sudo reboot"
alias pw="sudo poweroff"

# code
alias g-debug="./gradlew assembleDebug && ./gradlew installDebug && adb shell am start -n "
   

if [[ -r "$ALIASES_PATH/.wifi" ]]; then
  . "$ALIASES_PATH/.wifi"
fi

if [[ -r "$ALIASES_PATH/.git_aliases" ]]; then
  . "$ALIASES_PATH/.git_aliases"
fi

if [[ -r "$ALIASES_PATH/.ssh" ]]; then
  . "$ALIASES_PATH/.ssh"
fi
