let mapleader = " "

" opt
set incsearch
set nu
set relativenumber

set nowrap
set nohlsearch
set clipboard=unnamedplus
set mouse = "a"
set scrolloff = 8

" map
map Q gq
map n nzzzv
map N Nzzzv
map J mzJ`z
map <C-d> <C-d>zz
map <C-u> <C-u>zz

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'